.App {
  text-align: center;
  padding: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Nav {
    padding-left: 5%;
    margin-bottom: 30px;
}

.searchform {
    margin-bottom: 20px;
}

a:hover{
  text-decoration: none !important;
}

.weather-img{
  height: 80px;
}

.list-jumbo.jumbotron {
    border: 1px solid white;
}